:root {
    --backgroud-color: #F7F2F2;
    --card-background-color: #FFFFFF;
    --card-border-color: #B4B4B4;
}

.dark {
    --backgroud-color: #090C10;
    --card-background-color: #0D1117;
    --card-border-color: #30363D;
}

body {
    background-color: var(--backgroud-color);
}

* {
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
